<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ejs</title>
</head>
<body>
  <%# 渡された値の表示%>
  <%= food %>
</body>
</html>